* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

    scroll-behavior: smooth;
    color: var(--color-dark);
    // text-wrap: wrap;
    // word-wrap: break-word;
    // overflow-wrap: break-word;
    // hyphens: auto;
    // word-break: break-word;
}

body {
    // background: var(--color-second);

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

.container {
    padding: var(--size-sm);
    padding-bottom: var(--size-xxl);

    &__content {
        display: grid;
        max-width: var(--max-width);

        grid-template-columns: repeat(12, 1fr);
    }
}

.content {
    max-width: 1400px;
    margin-inline: auto;
    width: 100%;
}

.text-gradient-blue {
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text-gradient-orange {
    background: var(--gradient-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.mobile {
    display: inherit !important;

    @include md {
        display: none !important;
    }
}

.desktop-only {
    display: none !important; 

    @include md {
        display: inherit !important; 
    }
}

.color-main {
    color: var(--color-main);
}
