:root {
    --gradient-blue: linear-gradient(90deg, #1b4790 0, #1a7bbf 100%);
    --gradient-orange: linear-gradient(90deg, #dd9224 0%, #d7572b 100%);
    --gradient-blue-dark: linear-gradient(90deg, #153a75 0, #14629c 100%);
    --gradient-orange-dark: linear-gradient(90deg, #c27a1a 0%, #b8491f 100%);

    --color-main: #1a7bbf;
    --color-dark: #333;
    --color-bright: #fff;
    --color-second: #dd9224;
}